extends layout

block content
  #intro
    img#intro-image(src='https://res.cloudinary.com/codifex/image/upload/s--xMl3r5GU--/c_scale,fl_progressive,q_jpegmini,w_1440/c_crop,g_center,h_640,w_1440/v1412360803/me-src_mtalgk.jpg', alt='Ryan in Japan')

    #intro-text-container
      .colored-content
        #intro-text
          #intro-header
            h1 I turn ideas into web products.
          #intro-body  
            h2 I work with top agencies and development teams to create interesting things for high profile clients. I am a full stack web developer who loves JavaScript, Node.js, and Python. 
            h4 I work with and mentor my wife, Patti, who is a junior developer with an insatiable appetite for beautiful designs and interfaces. 
          .buttons
            a#portfolioLink.button(href="#") See things I've built
            a#contactLink.button(href="#") Work with me

  #portfolio
    h2 Past Projects
    #tiles
      .tile
        img(src='/images/portfolio/gmail.jpg', alt='Gmail onboarding')
        .description
          h3 Gmail Onboarding
          p I worked with the Gmail project managers and agency designers to create the Gmail onboarding process that introduces all new users to Gmail's features. 
          p Internationalized and translated for use in 71 countries.
          small Responsibilities: technical architecture, JavaScript/Closure, CSS, HTML.
          small Agency: Joystick Interactive

      .tile
        img(src='/images/portfolio/wallet.jpg', alt='Google Wallet')
        .description
          h3 Google Wallet
          p Website for the Google Wallet payment system.
          small Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          small Agency: Joystick Interactive

      .tile
        img(src='/images/portfolio/gow.jpg', alt='God of War')
        .description
          h3 god of war: ascension
          p Website for PlayStation3 game. Featured in a Superbowl commercial.
          small Responsibilities: full stack (Python, MySQL, HTML, CSS, JavaScript)
          small Agency: Real Pie 

      .tile
        img(src='/images/portfolio/bm.jpg', alt='bareMinerals')
        .description
          h3 bareMinerals 
          p JavaScript app to showcase bareMinerals extensive video collections with a custom CMS.
          small Responsibilities: technical architecture, Node.js, Sails.js, Backbone, MongoDB, HTML, CSS, JavaScript
          small Agency: Joystick Interactive

      .tile
        img(src='/images/portfolio/ce.jpg', alt='Google City Experts')
        .description
          h3 Google City Experts
          p Website for the Google City Experts program.
          small Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          small Agency: Joystick Interactive

      .smaller.clearfix
        .tile
          img(src='/images/portfolio/toyota.jpg', alt='Toyota Corolla Collaborator')
          .description
            h3 Toyota Corolla Collaborator
            p Customize a 3D WebGl Toyota Corolla in a Google Hangout with friends.
            small Responsibilities: JavaScript, Firebase, HTML, CSS, PHP
            small Agency: Joystick Interactive

        .tile
          img(src='/images/portfolio/locked.jpg', alt='Locked')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            small Agency: Joystick Interactive
        
        .tile
          img(src='/images/portfolio/gedu.jpg', alt='Google Education')
          .description
            h3 Google Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive.

        .tile
          img(src='/images/portfolio/gedu-apps.jpg', alt='Google Apps for Education')
          .description
            h3 Google Apps for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        .tile
          img(src='/images/portfolio/dd.jpg', alt='DinnerDynamo')
          .description
            h3 Dinner Dynamo
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack.

        .tile
          img(src='/images/portfolio/whap.jpg', alt='Whap')
          .description
            h3 Whap
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack.

        .tile
          img(src='/images/portfolio/gedu-cb.jpg', alt='Google Chromebooks for Education')
          .description
            h3 Google Chromebooks for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        .tile
          img(src='/images/portfolio/gedu-tablets.jpg', alt='Google Tablets for Education')
          .description
            h3 Google Tablets for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        
        .tile
          img(src='/images/portfolio/bfab.jpg', alt='Building for Americas Bravest')
          .description
            h3 Building For America's Bravest
            p Non-profit fundraising platform.
            small Responsibilities: full stack (PHP, WordPress, HTML, CSS, JavaScript, payment integration).
            small Agency: Joystick Interactive

        .tile
          img(src='/images/portfolio/locked.jpg', alt='Locked')
          .description
            h3 Meteor dashboard with PhantomJS scraper
            p Classified.
            small Responsibilities: Node.js, Meteor, PhantomJS, HTML, CSS, JavaScript
        
        .tile
          img(src='/images/portfolio/3ds.jpg', alt='3 Day Startup')
          .description
            h3 3 Day Startup
            p WordPress multisite system with custom plugins.
            small Responsibilities: full stack (PHP, WordPress, HTML, CSS, JavaScript)
        
        .tile
          img(src='/images/portfolio/hss.jpg', alt='High School Startup')
          .description
            h3 High School Startup
            p Software mentor for aspiring high school innovators.
        
        .tile
          img(src='/images/portfolio/atc.jpg', alt='Annivsary Time Capsule')
          .description
            h3 Anniversary Time Capsule
            p Web app for celebrating newly married couples.
            small Responsibilities: CTO.
        
        .tile
          img(src='/images/portfolio/vpa.jpg', alt='Vote Planner App')
          .description
            h3 Google Vote Planner app
            p JavaScript app to showcase Google Civic API, and Sunlight Foundation API.
            small Responsibilities: full stack (Python, JavaScript, HTML, CSS, Google App Engine).
            small Agency: Joystick Interactive
        
        .tile
          img(src='/images/portfolio/bfe.jpg', alt='Befrenemy')
          .description
            h3 Befrenemy
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack. 
        
        .tile
          img(src='/images/portfolio/famigo.jpg', alt='Famigo')
          .description
            h3 Famigo
            p Mobile app and website for curating apps for kids.
            small Responsibilities: frontend web.

        .tile
          img(src='/images/portfolio/wsd.jpg', alt='Wellspring Direct')
          .description
            h3 Wellspring Direct
            p eCommerce startup for durable medical supplies.
            small Responsibilities: CTO.

        .tile
          img(src='/images/portfolio/jl.jpg' alt='Jonathan Louis')
          .description
            h3 Jonathan Louis Furniture
            p JavaScript app for ordering furniture.
            small Responsibilities: full stack (PHP, JavaScript, HTML, CSS)
            small Agency: Pushbutton Technologies

        .tile
          img(src='/images/portfolio/aci.jpg', alt='ACI')
          .description
            h3 Advanced Care, Inc.
            p WordPress site and custom intranet.
            small Responsibilities: full stack (PHP, JavaScript, HTML, CSS)

        .tile
          img(src='/images/portfolio/portfolio.jpg', alt='Portfolio site')
          .description
            h3 Portfolio page (this site)
            small Responsibilities: full stack (Node.js, Express, Jade, Stylus, CoffeeScript, JavaScript)

  #closing
    .closing-header
      h2 These projects launched successfully. Yours can be next. 
    .closing-body
      p Talk with me about how we can get your project into development today. Many of the large projects above have been executed within very tight deadlines, and I welcome the challenge. My wife and Junior Developer, Patti, adds additional speed and capability.
      p I am always excited to talk to people about their next project or startup. When you are ready to get started, get in touch by either:
      .fakeOl
        p #[span.number 1.] Filling out the contact form below.
        p #[span.number 2.] Sending me an email at 
          a(href="mailto:ryan@ryanjurgensen.com") ryan@ryanjurgensen.com
        p #[span.number 3.] Adding me on Google Chat at 
          a(rel="author" href="https://plus.google.com/u/0/101304222647329768812?rel=author") ryan@ryanjurgensen.com

    
