extends layout

block content
  #intro
    .colored-content
      #intro-text
        h1#intro-header I turn ideas into web products.
        h2 I work with top agencies and development teams to create interesting things for high profile clients. I am a full stack engineer who loves JavaScript and Python. 
        h4 I work with and mentor my wife, Patti, who is a junior developer with an insatiable appitite for beautiful designs and interfaces. 
        .buttons
          a.button(href="#") See things I've built
          a.button(href="#") Work with me

  #portfolio
    h2 Things I've built
    #tiles
      .tile-row
        img(src='/images/portfolio/gmail.png')
        .description
          h3 Gmail Onboarding
          p I worked with the Gmail project managers and agency designers to create the Gmail onboarding process that introduces all new users to Gmail's features. 
          small Responsibilities: technical architecture, JavaScript/Closure, CSS, HTML.
          small Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/wallet.png')
        .description
          h3 Google Wallet
          p Website for the Google Wallet payment system.
          p Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          p Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/gow.png')
        .description
          h3 god of war: ascension
          p Website for PlayStation3 game. Featured in a Superbowl commercial.
          p Responsibilities: full stack (Python, MySQL, HTML, CSS, JavaScript)
          p Agency: Real Pie 

      .tile-row
        img(src='/images/portfolio/bm.png')
        .description
          h3 bareMinerals 
          p JavaScript app to showcase bareMinerals extensive video collections with a custom CMS.
          p Responsibilities: technical architecture, Node.js, Sails.js, Backbone, MongoDB, HTML, CSS, JavaScript
          p Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/ce.png')
        .description
          h3 Google City Experts
          p Website for the Google City Experts program.
          p Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          p Agency: Joystick Interactive

      .smaller
        .tile-row.small
          img(src='/images/portfolio/toyota.png')
          .description
            h3 Toyota Corolla Collaborator
            p Customize a 3D WebGl Toyota Corolla in a Google Hangout with friends.
            p Responsibilities: JavaScript, Firebase, HTML, CSS, PHP
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/locked.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/gedu.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/gedu-apps.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/gedu-cb.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/gedu-tablets.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/dd.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/whap.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        
        .tile-row.small
          img(src='/images/portfolio/bfab.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        
        .tile-row.small
          img(src='/images/portfolio/locked.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/3ds.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/hss.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/atc.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/vpa.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/bfe.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/famigo.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/wsd.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/jl.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/aci.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive


        .tile-row.small
          img(src='/images/portfolio/portfolio.png')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            p Agency: Joystick Interactive

