extends layout

block content
  #intro
    #intro-image

    #intro-text-container
      .colored-content
        #intro-text
          h1#intro-header I turn ideas into web products.
          h2 I work with top agencies and development teams to create interesting things for high profile clients. I am a full stack engineer who loves JavaScript, Node.js, and Python. 
          h4 I work with and mentor my wife, Patti, who is a junior developer with an insatiable appitite for beautiful designs and interfaces. 
          .buttons
            a#portfolioLink.button(href="#") See things I've built
            a#contactLink.button(href="#") Work with me

  #portfolio
    h2 Things I've built
    #tiles
      .tile-row
        img(src='/images/portfolio/gmail.jpg')
        .description
          h3 Gmail Onboarding
          p I worked with the Gmail project managers and agency designers to create the Gmail onboarding process that introduces all new users to Gmail's features. 
          p Internationalized and translated for use in 71 countries.
          small Responsibilities: technical architecture, JavaScript/Closure, CSS, HTML.
          small Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/wallet.jpg')
        .description
          h3 Google Wallet
          p Website for the Google Wallet payment system.
          small Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          small Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/gow.jpg')
        .description
          h3 god of war: ascension
          p Website for PlayStation3 game. Featured in a Superbowl commercial.
          small Responsibilities: full stack (Python, MySQL, HTML, CSS, JavaScript)
          small Agency: Real Pie 

      .tile-row
        img(src='/images/portfolio/bm.jpg')
        .description
          h3 bareMinerals 
          p JavaScript app to showcase bareMinerals extensive video collections with a custom CMS.
          small Responsibilities: technical architecture, Node.js, Sails.js, Backbone, MongoDB, HTML, CSS, JavaScript
          small Agency: Joystick Interactive

      .tile-row
        img(src='/images/portfolio/ce.jpg')
        .description
          h3 Google City Experts
          p Website for the Google City Experts program.
          small Responsibilities: technical architecture, JavaScript, CSS, HTML, proprietary backend.
          small Agency: Joystick Interactive

      .smaller
        .tile-row.small
          img(src='/images/portfolio/toyota.jpg')
          .description
            h3 Toyota Corolla Collaborator
            p Customize a 3D WebGl Toyota Corolla in a Google Hangout with friends.
            small Responsibilities: JavaScript, Firebase, HTML, CSS, PHP
            small Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/locked.jpg')
          .description
            h3 US Navy JavaScript app
            p Pending release.
            small Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/gedu.jpg')
          .description
            h3 Google Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive.

        .tile-row.small
          img(src='/images/portfolio/gedu-apps.jpg')
          .description
            h3 Google Apps for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/gedu-cb.jpg')
          .description
            h3 Google Chromebooks for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/gedu-tablets.jpg')
          .description
            h3 Google Tablets for Education
            p Website for Google product.
            small Responsibilities: JavaScript, CSS, HTML, proprietary backend.
            small Agency: Joystick Interactive

        .tile-row.small
          img(src='/images/portfolio/dd.jpg')
          .description
            h3 Dinner Dynamo
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack.

        .tile-row.small
          img(src='/images/portfolio/whap.jpg')
          .description
            h3 Whap
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack.
        
        
        .tile-row.small
          img(src='/images/portfolio/bfab.jpg')
          .description
            h3 Building For America's Bravest
            p Non-profit fundraising platform.
            small Responsibilities: full stack (PHP, WordPress, HTML, CSS, JavaScript, payment integration).
            small Agency: Joystick Interactive

        
        .tile-row.small
          img(src='/images/portfolio/locked.jpg')
          .description
            h3 Meteor dashboard with PhantomJS scraper
            p Classified.
            small Responsibilities: Node.js, Meteor, PhantomJS, HTML, CSS, JavaScript
        
        .tile-row.small
          img(src='/images/portfolio/3ds.jpg')
          .description
            h3 3 Day Startup
            p WordPress multisite system with custom plugins.
            small Responsibilities: full stack (PHP, WordPress, HTML, CSS, JavaScript)
        
        .tile-row.small
          img(src='/images/portfolio/hss.jpg')
          .description
            h3 High School Startup
            p Software mentor for aspiring high school innovators.
        
        .tile-row.small
          img(src='/images/portfolio/atc.jpg')
          .description
            h3 Annivsary Time Capsule
            p Web app for celebrating newly married couples.
            small Responsibilities: CTO.
        
        .tile-row.small
          img(src='/images/portfolio/vpa.jpg')
          .description
            h3 Google Vote Planner app
            p JavaScript app to showcase Google Civic API, and Sunlight Foundation API.
            small Responsibilities: full stack (Python, JavaScript, HTML, CSS, Google App Engine).
            small Agency: Joystick Interactive
        
        .tile-row.small
          img(src='/images/portfolio/bfe.jpg')
          .description
            h3 Befrenemy
            p Web startup.
            small Responsibilities: startup/MVP creation. Full stack. 
        
        .tile-row.small
          img(src='/images/portfolio/famigo.jpg')
          .description
            h3 Famigo
            p Mobile app and website for curating apps for kids.
            small Responsibilities: frontend web.

        .tile-row.small
          img(src='/images/portfolio/wsd.jpg')
          .description
            h3 Wellspring Direct
            p eCommerce startup for durable medical supplies.
            small Responsibilities: CTO.

        .tile-row.small
          img(src='/images/portfolio/jl.jpg')
          .description
            h3 Jonathan Louis Furniture
            p JavaScript app for ordering furniture.
            small Responsibilities: full stack (PHP, JavaScript, HTML, CSS)
            small Agency: Pushbutton Technologies

        .tile-row.small
          img(src='/images/portfolio/aci.jpg')
          .description
            h3 Advanced Care, Inc.
            p WordPress site and custom intranet.
            small Responsibilities: full stack (PHP, JavaScript, HTML, CSS)

        .tile-row.small
          img(src='/images/portfolio/portfolio.jpg')
          .description
            h3 Portfolio page (this site)
            small Responsibilities: full stack (Node.js, Express, Jade, Stylus, CoffeeScript, JavaScript)
