doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1")
    script(src='/scripts/deps.js')
    script(src='//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
    script(src='/scripts/logo.js')
    link(rel='stylesheet', href='/styles/style.css')
  body
    .container
      #header
        #fancy-logo
          h1 Ryan Jurgensen
          canvas(width="2040", height="100", id="mask")
          canvas(width="20000", height="100", id="background")
          script var logo = new portfolio.ScrollingLogo();
      
      block content

    #contact-bar
      a(href='3')#close X
      .container
        #contact-form
          h3 Let's get started #[span.arrow &#10148;]
          form
            input#contactName(type='text', placeholder='Name', required)
            input#contactEmail(placeholder='Email', type="email", required)
            textarea#contactMessage(placeholder='Tell me about your project.')
            input(type="submit", value="Send")#contactSend
        h4#email Or, send me an email at 
          a(href="mailto:ryan@ryanjurgensen.com") ryan@ryanjurgensen.com

    script window.csrf = '#{csrfToken}';
    script(src='/scripts/main.js')