full_intro_height = 661px

#intro
  margin-top 100px
  width 100%
  height full_intro_height
  position relative

  #intro-image
    retina 'http://res.cloudinary.com/codifex/image/upload/c_crop,fl_progressive,g_north,h_1322,w_2820/c_scale,h_661,w_1440/v1412360803/me-src_mtalgk.jpg' 'http://res.cloudinary.com/codifex/image/upload/c_crop,fl_progressive,g_north,h_1322,w_2880/v1412360803/me-src_mtalgk.jpg' 1440px full_intro_height
    width 100%
    height full_intro_height
    position absolute
    z-index 9

  #intro-text-container
    position absolute
    z-index 10

  .colored-content
    background linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%)

    #intro-text
      width 37%
      height full_intro_height
      padding 40px 0 0 20px

      h1
        margin-bottom 35px
        font-size 60px

      h2, h4
        margin-bottom 25px

      h2
        font-size 28px
        line-height 38px

      h4 
        font-size 22px
        line-height 30px

      .button
        display inline-block
        margin 0 10px
        text-decoration none
        background button-color
        border 1px button-border-color
        color white
        text-transform uppercase
        font 16px/18px 'Arvo', sans-serif;
        letter-spacing 1px
        padding 10px 16px
        box-shadow 0px 0px 10px 0px button-border-color
        animation pulsate 2s ease-in-out;
        animation-iteration-count: infinite; 
        animation-fill-mode: both
        animation-direction: alternate
        transition box-shadow 2.5s

        &:first-child
          margin-left 0

// +below(1024px)
//   #intro
//     margin-top 0px
//     height auto

+at('phone-portrait')
  #intro
    margin-top 0px
    height auto
    #intro-image
      background-size cover
      background-repeat no-repeat
      height 184px
      position static

    #intro-text-container
      image '/images/slc.png' 850px 390px
      position static
      
      // height 330px
      width 100%

      #intro-text
        height auto
        width auto
        background rgba(4, 56, 114, 0.71)
        padding 20px
        width 100%
        height 100%
        // font-family 'Lato'
        // color white

        h1
          margin-bottom 20px
          font-size 20px
          line-height 26px

        h2, h4
          margin-bottom 14px
          font-size 14px
          line-height 20px

        .button
          span(2/3, offset: 1/6)
          margin 10px 0px
          text-align center   
          font 14px/16px 'Arvo', sans-serif;
          padding 8px 14px

// +between(418px, 432px)
//   #intro #intro-text-container #intro-text .button
//       margin 30px 0px
//       font 14px/16px 'Arvo', sans-serif
//       padding 8px 14px

// +between(432px, 480px)
//   #intro #intro-text-container #intro-text .button
//       margin 10px 0px
//       font 16px/18px 'Arvo', sans-serif
//       padding 10px 16px

+between(483px, 635px)
  #intro
    #intro-image
      background-size 100% 250px
      height 250px
      position static
      z-index 9

    #intro-text-container
      position relative
      z-index 10
      image '/images/slc.png' 850px 390px
      height 385px

      #intro-text
        position absolute
        height auto
        width auto
        background rgba(4, 56, 114, 0.71)
        padding 25px
        width 100%
        height 100%
        font-family 'Lato'
        color white

        h1
          margin-bottom 25px
          font-size 32px
          line-height 38px

        h2, h4
          margin-bottom 15px

        h2
          font-size 20px
          line-height 26px

        h4 
          font-size 16px
          line-height 22px
          
        .button
          span(1/2, cycle: 1)
          float left !important
          margin 10px 0px
          text-align center   
          font 14px/16px 'Arvo', sans-serif;
          padding 8px 14px

+between(540px, 635px)
  #intro #intro-text-container #intro-text 
    h4 
      font-size 18px
      line-height 24px

// #about
//   image '/images/slc.png' 1440px 470px
//   height 470px
//   position relative

//   .about-text
//     align(direction = vertical)

