#fancy-logo
  fixed top left
  z-index 9
  background-color #fff
  width 100%

  &.dynamic
    #logo-options
      //display block
    
  canvas
    absolute top left
    display: none

  h1
    display none
    text-align center
    text-transform uppercase
  
  #background
    z-index: 10
  
  #mask
    z-index 11
  
  #logo-options
    absolute top 120px left 0 right 0
    z-index 13
    display none
    width 350px
    margin 0 auto
    a
      color #C0C0C0
      margin-right 20px