#fancy-logo
  z-index 11
  background-color #fff
  width 100%
  fixed top left
  height 100px

  .logo-disabled &
    position static

    h1
      display block

    canvas
      display none !important

  canvas
    absolute top left
    display: none
    box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.22)

  h1
    //color rgba(4, 56, 114, 0.71)
    font-size 80px
    line-height 100px
    font-family 'Raleway'
    text-shadow 0 0 1px #181818
    display none
    text-align center
    text-transform uppercase
  
  #background
    z-index: 10
  
  #mask
    z-index 11
  
  #logo-options
    absolute top 120px left 0 right 0
    z-index 13
    display none
    width 350px
    margin 0 auto
    a
      color #C0C0C0
      margin-right 20px

+below('tablet-portrait')
  #fancy-logo
    position static
    height auto
    
    h1
      font 32px/38px 'Raleway', sans-serif

+at('tablet-portrait')
  #fancy-logo
    h1
      font 38px/44px 'Raleway', sans-serif

