#portfolio
  padding 0 40px
  h2
    text-align left
    text-decoration underline
    margin 40px 20px
    font 36px/48px 'Arvo', sans-serif;
    text-transform: uppercase;

+mobile()
  #portfolio
    padding 0 20px
    h2
      text-align center
      margin 30px 0px
      font 24px/36px 'Arvo', sans-serif;