#portfolio
  padding 0 40px
  h2
    text-align left
    text-decoration underline
    text-transform uppercase
    margin 40px 20px
    font 36px/48px 'Arvo', sans-serif;

+below('phone-landscape')
  #portfolio
    padding 0 20px
    h2
      text-align center
      margin 20px 0px
      font 24px/36px 'Arvo', sans-serif;

+between('tablet-portrait', 'tablet-landscape')
  #portfolio
    padding 0 30px
    h2
      margin 30px 10px
      font 30px/42px 'Arvo', sans-serif;
