#portfolio
  padding 0 30px

  +above(1441px)
    padding 0

  #tiles
    margin-top 30px

  h2
    text-align center
    font 36px/48px 'Arvo', sans-serif;
    text-transform: uppercase;
    color white
    background-color #2A5A7C

  &.fixed
    padding-top 48px

    h2
      position fixed
      box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.22)
      top 100px
      margin 0 
      width 100%

+below('phone-landscape')
  #portfolio
    padding 0 20px
    h2
      text-align center
      margin 20px 0px
      font 24px/36px 'Arvo', sans-serif;

+between('tablet-portrait', 'tablet-landscape')
  #portfolio
    padding 0 30px
    h2
      //margin 30px 10px
      font 30px/42px 'Arvo', sans-serif;
