@import 'nib'
@import 'jeet'
@import 'rupture'
@import 'mixins'

@import url('http://fonts.googleapis.com/css?family=Lato|Arvo:400,700');
@import url('sweet-alert.css')

button-color = rgba(50, 148, 255, 0.91);
button-border-color = darken(button-color, 30%);

global-reset()

*
  box-sizing border-box


body
  min-height 4000px

pre
  margin-top 150px 

.container
  center()

.colored-content
  width 100%
  height 100%
  font-family 'Lato'
  color white

@import 'intro'

#portfolio
  padding 0 40px
  h2
    text-align left
    text-decoration underline
    margin 40px 20px
    font 36px/48px 'Arvo', sans-serif;
    text-transform: uppercase;

portfolio-width = 1440px - 80
portfolio-gutter = (10px / portfolio-width) * 100

.tile
  width 25%
  margin-bottom 10px
  box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.22)
  position relative
  font-family 'Lato'

  .large &
    col(1/2, cycle: 2, gutter: portfolio-gutter )
    h3
      font-size 22px

  .med &
    col(1/3, cycle: 3, gutter: portfolio-gutter )

  .small &
    col(1/4, cycle: 4, gutter: portfolio-gutter )

  img
    width 100%

  h3
    //absolute bottom left
    //color white
    display block
    
    text-transform uppercase
    font-weight bold
    padding 15px
    padding-bottom 0
    border-top 1px solid #e7e7e7
    width 100%
    //text-align center
    //background-color rgba(0, 39, 88, 0.61)
  
  .details
    margin 7px 0 15px 0
    padding 0 15px


    

.tile-row
  clearfix();
  margin-bottom 25px
  padding 10px
  box-shadow 0 1px 2px 0 rgba(0, 0, 0, 0.22)
  font-family 'Lato'
  img
    col(2/6)

  .description
    col(4/6)

  h3
    font-size 28px
    margin-bottom 20px
    text-transform uppercase

  p
    margin-bottom 15px
      
  small
    color #C9C5C5
    font-style italic
    display block
    padding 3px 0
    font-size 14px

  &.small
    col(1/2, cycle:2)
    min-height 220px

@keyframes pulsate{
  from{
    box-shadow: 0px 0px 10px 0px button-border-color;
  }
  to{
    box-shadow: 0px 0px 25px 0px button-border-color;
  }
}

.sweet-alert *
  box-sizing: initial !important;

@import 'contact-bar'
@import 'logo'
