@import 'nib'
@import 'jeet'
@import 'rupture'

button-color = rgba(50, 148, 255, 0.91);
button-border-color = darken(button-color, 30%);

global-reset()

*
  box-sizing border-box


body
  min-height 4000px

#container
  center()

.colored-content
  width 100%
  height 100%
  font-family 'Lato'
  color white

#intro
  image '/images/me.png' 1440px 640px
  margin-top 120px
  width 100%
  height 640px

  .colored-content
    background linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%)

    #intro-text
      col(3/5)
      padding 60px 0 0 20px

      h1
        margin-bottom 40px
        font-size 60px

      .button
        display inline-block
        margin 0 10px
        text-decoration none
        background button-color
        border 1px button-border-color
        color white
        text-transform uppercase
        font 16px/18px 'Arvo', sans-serif;
        letter-spacing 1px
        padding 10px 16px
        box-shadow 0px 0px 10px 0px button-border-color
        animation pulsate 2s ease-in-out;
        animation-iteration-count: infinite; 
        animation-fill-mode: both
        animation-direction: alternate
        transition box-shadow 2.5s

        &:first-child
          margin-left 0


#about
  image '/images/slc.png' 1440px 470px
  height 470px
  position relative

  .about-text
    align(direction = vertical)

  .colored-content
    height 100%
    padding 0px 80px
    font-size 22px
    background rgba(4, 56, 114, 0.71)

    h2, h3, h4
      margin-bottom 30px
      text-shadow 0 0 1px #181818

    h2
      font-size 35px
      line-height 45px

    h3
      font-size 28px
      line-height 38px

    h4 
      font-size 22px
      line-height 30px

#portfolio
  padding 0 40px
  h2
    text-align center
    text-decoration underline
    margin 40px 0
    font 36px/48px 'Arvo', sans-serif;
    text-transform: uppercase;
    
  .tile
    margin-bottom 10px
    height 250px
    background rgba(4, 56, 114, 0.71)
    
    for num in (1..5)
      :nth-child(num) 
        background red
      
    &.large
      column(1/3, cycle: 3)
    
    &.med
      column(1/4)
      
@keyframes pulsate{
  from{
    box-shadow: 0px 0px 10px 0px button-border-color;
  }
  to{
    box-shadow: 0px 0px 25px 0px button-border-color;
  }
}

@import 'logo'