@import 'nib'
@import 'jeet'
@import 'rupture'
@import 'mixins'

@import url('https://fonts.googleapis.com/css?family=Lato:400,800|Arvo:400,700');
@import url('sweet-alert.css')

button-color = rgba(50, 148, 255, 0.91);
button-border-color = darken(button-color, 30%);

rupture.scale = 0 400px 670px 920px 1024px
rupture.scale-names = 'phone-portrait' 'phone-landscape' 'tablet-portrait' 'tablet-landscape' 'desktop'
// phone-portrait = 0 - 400
// phone-landscape = 400 - 670
// tablet-portrait = 670 - 920
// tablet-landscape = 920 - 1024 (fancy logo enabled)
// desktop = 1025+

global-reset()

*
  box-sizing border-box

body
  font-family 'Lato'
  background-color rgb(253, 253, 253)

pre
  margin-top 150px 

.container
  center()

.clearfix
  clearfix();

.colored-content
  width 100%
  height 100%
  font-family 'Lato'
  color white

@import 'logo'

@import 'intro'

@import 'portfolio'

@import 'tiles'

@import 'closing'
    
@keyframes pulsate{
  from{
    box-shadow: 0px 0px 10px 0px button-border-color;
  }
  to{
    box-shadow: 0px 0px 25px 0px button-border-color;
  }
}

.sweet-alert *
  box-sizing: initial !important;

@import 'contact-bar'
