@import url("http://fonts.googleapis.com/css?family=Lato|Arvo:400,700");
@import url("../scripts/deps/sweetalert/sweet-alert.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-height: 4000px;
}
pre {
  margin-top: 150px;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.colored-content {
  width: 100%;
  height: 100%;
  font-family: 'Lato';
  color: #fff;
}
#intro {
  background-image: url("http://res.cloudinary.com/codifex/image/upload/c_crop,fl_progressive,g_north,h_1322,w_2820/c_scale,h_661,w_1440/v1412360803/me-src_mtalgk.jpg");
  margin-top: 100px;
  width: 100%;
  height: 661px;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  #intro {
    background-image: url("http://res.cloudinary.com/codifex/image/upload/c_crop,fl_progressive,g_north,h_1322,w_2880/v1412360803/me-src_mtalgk.jpg");
    background-size: 1440px 661px;
  }
}
#intro .colored-content {
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%);
}
#intro .colored-content #intro-text {
  width: 37%;
  height: 640px;
  padding: 40px 0 0 20px;
}
#intro .colored-content #intro-text h1 {
  margin-bottom: 35px;
  font-size: 60px;
}
#intro .colored-content #intro-text h2,
#intro .colored-content #intro-text h3,
#intro .colored-content #intro-text h4 {
  margin-bottom: 25px;
}
#intro .colored-content #intro-text h2 {
  font-size: 28px;
  line-height: 38px;
}
#intro .colored-content #intro-text h4 {
  font-size: 22px;
  line-height: 30px;
}
#intro .colored-content #intro-text .button {
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  background: rgba(50,148,255,0.91);
  border: 1px rgba(0,102,213,0.91);
  color: #fff;
  text-transform: uppercase;
  font: 16px/18px 'Arvo', sans-serif;
  letter-spacing: 1px;
  padding: 10px 16px;
  box-shadow: 0px 0px 10px 0px rgba(0,102,213,0.91);
  -webkit-animation: pulsate 2s ease-in-out;
  -ms-animation: pulsate 2s ease-in-out;
  animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition: box-shadow 2.5s;
  transition: box-shadow 2.5s;
}
#intro .colored-content #intro-text .button:first-child {
  margin-left: 0;
}
#about {
  background-image: url("/images/slc.png");
  height: 470px;
  position: relative;
}
@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution:138dpi),(min-resolution:1.5dppx) {
  #about {
    background-image: url("/images/slc@2x.png");
    background-size: 1440px 470px;
  }
}
#about .about-text {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#portfolio {
  padding: 0 40px;
}
#portfolio h2 {
  text-align: left;
  text-decoration: underline;
  margin: 40px 20px;
  font: 36px/48px 'Arvo', sans-serif;
  text-transform: uppercase;
}
.tile {
  width: 25%;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  position: relative;
  font-family: 'Lato';
}
.large .tile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.63235294117647%;
  margin-left: 0%;
  margin-right: 0.7352941176470588%;
}
.large .tile:before,
.large .tile:after {
  content: '';
  display: table;
}
.large .tile:after {
  clear: both;
}
.large .tile:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.large .tile:nth-child(2n+1) {
  clear: both;
}
.large .tile h3 {
  font-size: 22px;
}
.med .tile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 32.843137254901954%;
  margin-left: 0%;
  margin-right: 0.7352941176470588%;
}
.med .tile:before,
.med .tile:after {
  content: '';
  display: table;
}
.med .tile:after {
  clear: both;
}
.med .tile:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
.med .tile:nth-child(3n+1) {
  clear: both;
}
.small .tile {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 24.448529411764707%;
  margin-left: 0%;
  margin-right: 0.7352941176470588%;
}
.small .tile:before,
.small .tile:after {
  content: '';
  display: table;
}
.small .tile:after {
  clear: both;
}
.small .tile:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.small .tile:nth-child(4n+1) {
  clear: both;
}
.tile img {
  width: 100%;
}
.tile h3 {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  padding-bottom: 0;
  border-top: 1px solid #e7e7e7;
  width: 100%;
}
.tile .details {
  margin: 7px 0 15px 0;
  padding: 0 15px;
}
.tile-row {
  zoom: 1;
  margin-bottom: 25px;
  padding: 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
  font-family: 'Lato';
}
.tile-row:before,
.tile-row:after {
  content: "";
  display: table;
}
.tile-row:after {
  clear: both;
}
.tile-row img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.tile-row img:before,
.tile-row img:after {
  content: '';
  display: table;
}
.tile-row img:after {
  clear: both;
}
.tile-row img:last-child {
  margin-right: 0%;
}
.tile-row .description {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
}
.tile-row .description:before,
.tile-row .description:after {
  content: '';
  display: table;
}
.tile-row .description:after {
  clear: both;
}
.tile-row .description:last-child {
  margin-right: 0%;
}
.tile-row h3 {
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.tile-row p {
  margin-bottom: 15px;
}
.tile-row small {
  color: #c9c5c5;
  font-style: italic;
  display: block;
  padding: 3px 0;
  font-size: 14px;
}
.tile-row.small {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  min-height: 220px;
}
.tile-row.small:before,
.tile-row.small:after {
  content: '';
  display: table;
}
.tile-row.small:after {
  clear: both;
}
.tile-row.small:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.tile-row.small:nth-child(2n+1) {
  clear: both;
}
.sweet-alert * {
  -moz-box-sizing: initial !important;
  box-sizing: initial !important;
}
#email {
  float: left;
  margin-top: -70px;
  text-transform: uppercase;
  font-size: 16px;
  display: none;
}
#email span.or {
  display: block;
}
.expanded #email {
  display: block;
}
#contact-bar {
  position: fixed;
  bottom: -60px;
  left: 0;
  width: 100%;
  padding: 0 40px;
  background: rgba(0,0,0,0.9);
  color: #f5f5f5;
  font-family: 'Lato';
  -webkit-animation: bounceInUp 1.4s ease-in-out;
  -ms-animation: bounceInUp 1.4s ease-in-out;
  animation: bounceInUp 1.4s ease-in-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
  height: 100px;
  -webkit-transition: 0.4s height;
  transition: 0.4s height;
}
#contact-bar.expanded {
  height: 200px;
  background: #000;
}
#contact-bar.expanded textarea {
  height: 120px !important;
}
#contact-bar #contact-form {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin: 10px 0;
/*
    #shiny
      position relative
      float left
      margin-right 40px


    #shine
      //background: radial-gradient(ellipse 9px 15px, #fff, rgba(0,0,0,0));
      background-size 20px 30px
      height 30px
      width 20px
      absolute top left
      //animation shine .4s ease-in-out;
      animation-iteration-count: 1; 
      animation-fill-mode: both
      animation-direction: alternate
      animation-delay: .8s;
    */
}
#contact-bar #contact-form:before,
#contact-bar #contact-form:after {
  content: '';
  display: table;
}
#contact-bar #contact-form:after {
  clear: both;
}
#contact-bar #contact-form * {
  display: inline;
  vertical-align: middle;
}
#contact-bar #contact-form input,
#contact-bar #contact-form textarea {
  font-size: 17px;
  height: 26px;
  font-family: 'Lato';
}
#contact-bar #contact-form input {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
#contact-bar #contact-form input:before,
#contact-bar #contact-form input:after {
  content: '';
  display: table;
}
#contact-bar #contact-form input:after {
  clear: both;
}
#contact-bar #contact-form input:last-child {
  margin-right: 0%;
}
#contact-bar #contact-form textarea {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 27.9%;
  margin-left: 0%;
  margin-right: 3%;
}
#contact-bar #contact-form textarea:before,
#contact-bar #contact-form textarea:after {
  content: '';
  display: table;
}
#contact-bar #contact-form textarea:after {
  clear: both;
}
#contact-bar #contact-form textarea:last-child {
  margin-right: 0%;
}
#contact-bar #contact-form #contactSend {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 7.3%;
  margin-left: 0%;
  margin-right: 3%;
  color: #fff;
  border: 1px rgba(0,102,213,0.91);
  background-color: rgba(50,148,255,0.91);
  font: 16px/18px 'Arvo', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0px rgba(0,102,213,0.91);
  -webkit-animation: pulsate 2s ease-in-out;
  -ms-animation: pulsate 2s ease-in-out;
  animation: pulsate 2s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transition: box-shadow 2.5s;
  transition: box-shadow 2.5s;
  text-align: center;
}
#contact-bar #contact-form #contactSend:before,
#contact-bar #contact-form #contactSend:after {
  content: '';
  display: table;
}
#contact-bar #contact-form #contactSend:after {
  clear: both;
}
#contact-bar #contact-form #contactSend:last-child {
  margin-right: 0%;
}
#contact-bar #contact-form h3 {
  font-size: 22px;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
  background-size: 20px 30px;
  line-height: 26px;
  text-transform: uppercase;
  background-position: left 0px top;
  background-repeat: no-repeat;
}
#contact-bar #contact-form h3:before,
#contact-bar #contact-form h3:after {
  content: '';
  display: table;
}
#contact-bar #contact-form h3:after {
  clear: both;
}
#contact-bar #contact-form h3:last-child {
  margin-right: 0%;
}
#contact-bar #contact-form h3 .arrow {
  display: inline-block;
  padding: 0 0 4px 5px;
  font-size: 18px;
}
@-webkit-keyframes pulsate-contact {
  0% {
    text-shadow: 1px 0px 4px rgba(0,102,213,0.91);
  }

  100% {
    text-shadow: 1px 0px 25px rgba(0,102,213,0.91);
  }
}
@-ms-keyframes pulsate-contact {
  0% {
    text-shadow: 1px 0px 4px rgba(0,102,213,0.91);
  }

  100% {
    text-shadow: 1px 0px 25px rgba(0,102,213,0.91);
  }
}
@keyframes pulsate-contact {
  0% {
    text-shadow: 1px 0px 4px rgba(0,102,213,0.91);
  }

  100% {
    text-shadow: 1px 0px 25px rgba(0,102,213,0.91);
  }
}
@-webkit-keyframes shine {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }

  100% {
    -webkit-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes shine {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    -webkit-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes shine {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }

  50% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
  }

  100% {
    -webkit-transform: translate3d(200px, 0, 0);
    -ms-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0, 3000px, 0);
    -ms-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -ms-filter: none;
    -webkit-filter: none;
            filter: none;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    -ms-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
#fancy-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
  height: 100px;
  width: 100%;
}
#fancy-logo canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
}
#fancy-logo h1 {
  display: none;
  text-align: center;
  text-transform: uppercase;
}
#fancy-logo #background {
  z-index: 10;
}
#fancy-logo #mask {
  z-index: 11;
}
#fancy-logo #logo-options {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 13;
  display: none;
  width: 350px;
  margin: 0 auto;
}
#fancy-logo #logo-options a {
  color: #c0c0c0;
  margin-right: 20px;
}
@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(0,102,213,0.91);
  }

  100% {
    box-shadow: 0px 0px 25px 0px rgba(0,102,213,0.91);
  }
}
@-ms-keyframes pulsate {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(0,102,213,0.91);
  }

  100% {
    box-shadow: 0px 0px 25px 0px rgba(0,102,213,0.91);
  }
}
@keyframes pulsate {
  0% {
    box-shadow: 0px 0px 10px 0px rgba(0,102,213,0.91);
  }

  100% {
    box-shadow: 0px 0px 25px 0px rgba(0,102,213,0.91);
  }
}
